
body {
  background-color: beige;
  font-family: "Verdana", cursive, sans-serif;
  font-size: 1.5rem;
}

div {
  
  position: relative;
}

div.centered-content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div.with-border {
  border: 5px dashed gray;
  padding: 10px
}

div.padded {
  padding: 10px
}

#app {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#app h1 {
  text-decoration: blink;
}

#app #dropzone {
  height: 200px;
}

#app .content {
  display: none;
  text-align: center;
}

#app .content span {
  font-weight: bold;
}

#app.hovered #dropzone {
  opacity: 1;
  border: 5px dashed blue;
  border-radius: 5px;
}

#app:not(.hovered) .content:not(.hovered) {
  display: block;
}

#app.hovered .content.hovered {
  display: block;
}

#app.hovered #visualization {
  opacity: 0.2;
}

.hidden {
  display: none;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.1);
}

.modal-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.div-disclaimer-bubble {
  position: absolute;
  top: 50px;
  width: 200px;
  background: pink;
  padding: 10;
  font-family: "Comic Sans MS";
  font-size: 1rem;
  left: 55%;
  border: 3px solid gray;
}

.div-disclaimer-bubble.red {
  background: red;   
  z-index: 1;
}